<div class="center hero-unit">
  <h1>Добро пожаловать в Twitter</h1>

  <h2>
     Это клон
    <a href="http://twitter.com/">Twitter.com</a>
    для личного пользования.
  </h2>

  <%= link_to "Регистрация!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>